/* Header Styling */
.header {
    background-color: #154c79;
    padding: 20px;
    color: white;
}

/* Introduction Section */
.introduction {
    background-color: #ddd;
    margin: 20px 0;
    padding: 20px;
}

/* Skills Display */
.skills {
    background-color: #ddd;
    padding: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Contact Information */
.contact {

    background-color: #154c79;
    color: #ddd;
    padding: 20px;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header, .introduction, .skills, .contact {
        padding: 10px;
    }
}

